<!DOCTYPE html>
<html>
  <head>
    <title>Stukplaces</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUQxMJCOvQ8klQlwURaKsO2hDbsUfw8qM&callback=initMap"
    async defer></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% flash.each do |type, message| %>
      <div class="alert alert-info fade-in">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>
    
    <div class = 'container'>
      <%= yield %>
    </div>
  </body>
</html>
